<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h2>
      <%= t "user.question.suggested" %>
      <%= link_to "", new_user_question_path(current_user),
        class: "pull-right glyphicon glyphicon-plus-sign" %>
    </h2>

    <table class="table table-hover"> 
      <thead class="thead-inverse">
        <tr> 
          <th>#</th> 
          <th><%= t "user.question.question" %></th> 
          <th><%= t "user.question.subject" %></th> 
          <th><%= t "user.question.type" %></th> 
          <th><%= t "user.question.state" %></th> 
          <th></th>
        </tr>
      </thead>
      <tbody>
        <ul class="questions">
          <%= render @questions %>
        </ul>
      </tbody>
    </table>
  </div>
</div>
