<h1><%= t ".list_subjects" %></h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th><%= t ".id" %></th>
      <th><%= t ".name" %></th>
      <th><%= t ".duration" %></th>
      <th><%= t ".question_num" %></th>
      <th><%= t ".created_at" %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td><%= subject.id %></td>
        <td><%= subject.name %></td>
        <td><%= subject.duration.to_formatted_s :time %></td>
        <td><%= subject.question_num %></td>
        <td><%= subject.created_at %></td>
        <td><%= link_to t(".edit"), edit_admin_subject_path(subject), class: "btn btn-warning" %></td>
        <td><%= link_to t(".delete"), admin_subject_path(subject),
          method: :delete, data: {confirm: t(".confirm_delete")}, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
  <%= t ".new_subject" %>
</button>
<%= render "modal" %>
