<div class="row">
  <div class="col-md-9">
    <h1><%= t ".exam_list" %></h1>

    <%= search_form_for [:admin, @search] do |f| %>
      <%= f.condition_fields do |c| %>
        <%= render "shared/condition_fields", f: c %>
      <% end %>
      <div class="actions"><%= f.submit t("search") %></div>
    <% end %>

    <table class="table">
      <thead>
        <th><%= sort_link @search, :id, t(".id") %></th>
        <th><%= sort_link @search, :created_date, t(".created_date") %></th>
        <th><%= sort_link @search, :subject, t(".subject") %></th>
        <th><%= sort_link @search, :status, t(".status") %></th>
        <th><%= sort_link @search, :duration, t(".duration") %></th>
        <th><%= sort_link @search, :question_num, t(".question_num") %></th>
        <th><%= sort_link @search, :spent_time, t(".spent_time") %></th>
        <th><%= sort_link @search, :score, t(".score") %></th>
        <th></th>
        <th></th>
      </thead>
      <tbody>
        <% @exams.each do |exam| %>
          <tr>
            <td><%= exam.id %></td>
            <td><%= exam.created_at %></td>
            <td><%= exam.subject.name %></td>
            <td><%= status_label exam.status %></td>
            <td><%= format_time exam.subject.duration %></td>
            <td><%= exam.subject.question_num %></td>
            <td><%= format_time exam.spent_time %></td>
            <td><%= format_score exam %></td>
            <td></td>
            <td></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-3">
    <h1><%= t ".list_activities" %></h1>
    <ul>
      <% @activities.each do |activity| %>
        <li class="activity"><%= activity.owner.name if activity.owner %>
          <%= render_activity activity %>
          <div class="time-ago"><em><%= time_ago_in_words activity.created_at %></em></div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
