<tr>
  <td><%= question.id %></td>
  <td><%= link_to question.content, admin_question_path(question) %></td>
  <td><%= question.subject.name %></td>
  <td><%= question.question_type %></td>
  <td><%= question_state question %></td>
  <td>
    <div class="pull-right">
      <%= link_to "", edit_admin_question_path(question),
        class: "glyphicon glyphicon-pencil" %>
      <%= link_to "", [:admin, question], method: :delete,
        data: {confirm: t("you_sure")}, class: "glyphicon glyphicon-trash" %>
    </div>
  </td>
</tr>
