<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h2>
      <%= t "user.question.all" %>
      <%= link_to "", "#",
        class: "pull-right glyphicon glyphicon-plus-sign" %>
    </h2>

    <table class="table table-hover"> 
      <thead class="thead-inverse">
        <tr> 
          <th><%= sort_link @search, :id, "#" %></th> 
          <th><%= sort_link @search, :content, t("user.question.question") %></th> 
          <th><%= sort_link @search, :subject_id, t("user.question.subject") %></th> 
          <th><%= sort_link @search, :question_type, t("user.question.type") %></th> 
          <th><%= sort_link @search, :state, t("user.question.state") %></th> 
          <th></th>
        </tr>
      </thead>
      <tbody>
        <ul class="questions">
          <%= render @questions %>
        </ul>
      </tbody>
    </table>
  </div>
</div>
