<h1><%= t ".list_users" %></h1>

<%= search_form_for [:admin, @search] do |f| %>
  <%= f.condition_fields do |c| %>
    <%= render "shared/condition_fields", f: c %>
  <% end %>
  <div class="actions"><%= f.submit t("search") %></div>
<% end %>

<%= link_to t(".create_user"), new_admin_user_path, class: "btn btn-success pull-right" %>
<table class="table table-hover">
  <thead>
    <tr class="info">
      <th><%= sort_link @search, :id, t(".id") %></th>
      <th><%= sort_link @search, :name, t(".name") %></th>
      <th><%= sort_link @search, :email, t(".email") %></th>
      <th><%= sort_link @search, :role, t(".role") %></th>
      <th><%= sort_link @search, :chatwork_id, t(".chatwork_id") %></th>
      <th><%= sort_link @search, :created_at, t(".created_at") %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.role.capitalize %></td>
        <td><%= user.chatwork_id %></td>
        <td><%= user.created_at %></td>
        <td><%= link_to t(".edit"), edit_admin_user_path(user),
          class: "btn btn-primary" %></td>
        <% if user.is_user? current_user %>
          <td></td>
        <% else %>
          <td>
            <%= link_to t(".delete"), [:admin, user],
              method: :delete, data: {confirm: t(".delete_confirm")}, class: "btn btn-danger" %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
