<div class="form-exam">
  <%= form_for @exam, url: exams_path, method: :post, html: {class: "form-inline"} do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.select :subject_id, @subjects.collect {|p| [p.name, p.id]}, {}, class: "form-control" %>
    <%= f.submit t(".create_exam"), class: "btn btn-primary" %>
  <% end %>
</div>
<h1><%= t ".exam_list" %></h1>
<table class="table">
  <thead>
    <th><%= t ".created_date" %></th>
    <th><%= t ".subject" %></th>
    <th><%= t ".status" %></th>
    <th><%= t ".duration" %></th>
    <th><%= t ".question_num" %></th>
    <th><%= t ".spent_time" %></th>
    <th><%= t ".score" %></th>
    <th></th>
  </thead>
  <tbody>
    <% @exams.each do |exam| %>
      <tr>
        <td><%= exam.created_at %></td>
        <td><%= exam.subject.name %></td>
        <td><%= status_label exam.status %></td>
        <td><%= format_time exam.subject.duration %></td>
        <td><%= exam.subject.question_num %></td>
        <td><%= format_time exam.spent_time %></td>
        <td><%= format_score exam %></td>
        <td><%= status_button exam.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>
